{% extends "base.html" %}

{% block content %}
<div class="admin-container">

    <div class="admin-header">
        <h2>Pedido #{{ pedido.id_pedido }}</h2>

        <a href="{{ url_for('admin_pedidos') }}" class="btn-admin-secondary">
            ← Volver
        </a>
    </div>

    <p><strong>Cliente:</strong>
        {{ pedido.usuario.nombre_cliente }}
        {{ pedido.usuario.apellidos_cliente }}
    </p>

    <form method="POST" action="{{ url_for('admin_actualizar_estado_pedido', id_pedido=pedido.id_pedido) }}">

    <p>
        <strong>Estado:</strong>

        <select name="estado" class="admin-select">

            <option value="pagado" {% if pedido.estado == "pagado" %}selected{% endif %}>Pagado</option>
            <option value="preparando" {% if pedido.estado == "preparando" %}selected{% endif %}>Preparando</option>
            <option value="enviado" {% if pedido.estado == "enviado" %}selected{% endif %}>Enviado</option>
            <option value="entregado" {% if pedido.estado == "entregado" %}selected{% endif %}>Entregado</option>

        </select>

        <button type="submit" class="btn-admin-primary">
            Actualizar
        </button>

    </p>

</form>
    <p><strong>Fecha:</strong> {{ pedido.fecha.strftime("%d/%m/%Y") }}</p>
    <p><strong>Total:</strong> {{ pedido.total }} €</p>

    <hr>

    <h4>Productos</h4>

    <table class="admin-table">
        <thead>
            <tr>
                <th>Producto</th>
                <th>Precio</th>
                <th>Cantidad</th>
                <th>Subtotal</th>
            </tr>
        </thead>

        <tbody>
            {% for linea in pedido.lineas %}
            <tr>
                <td>{{ linea.nombre_producto }}</td>
                <td>{{ linea.precio_unitario }} €</td>
                <td>{{ linea.cantidad }}</td>
                <td>{{ linea.precio_unitario * linea.cantidad }} €</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>
{% endblock %}